@import 'responsive.scss';

$purple-dark: #5C2DD5;
$purple-light: #7945FF;
$pink: #FD6687;
$yellow: #FFCE67;


@font-face {
        font-family: "SpaceGrotesk";
        src: url("assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
        font-weight: 500 700;
}

*{
    box-sizing: border-box;
}

body, 
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


body{
    font-family: "SpaceGrotesk";
    background-color: $purple-light;
    display: flex;
    flex-direction: column;
}

img{
    display: block;
    width: 100%;
}
h1, h2, h3, h4{
    margin: 0;
}

p{
    margin: 0;
}

h1{
    font-size: 3.5rem;
    line-height: 71px;
}

h2{
    font-size: 1.5rem;
    line-height: 31px;
}

h3{
    font-size: 1.25rem;
    line-height: 26px;
}

h4{
    font-size: 1rem;
    line-height: 21px;
}

p{
    line-height: 21px;
}

.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    @include tablet{
        background-color: $purple-dark;
        padding: 4.375rem 2.5rem;
        border: 3px solid #000000;
        box-shadow: 0px 10px 0px #000000;
        border-radius: 40px;
    }

    &__logo{
        margin-bottom: 5rem;
        &__img{
            width: 52px;
        }
    }
    &__play{
        background-color: $yellow;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__icon{
            width: 82px;
        }
    }
}

.button{
    text-align: left;
    width: 380px;
    border: 3px solid #000000;
    box-shadow: 0px 10px 0px #000000;
    border-radius: 20px;
    font-size: 1.5rem;
    line-height: 31px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.25rem;
    margin-bottom: 1.75rem;
    &:hover{
        cursor: pointer;
    }
}

.rules{
    position: relative;
    background-color: white;
    border: 3px solid #000000;
    box-shadow: 0px 10px 0px #000000;
    border-radius: 40px;
    padding: 1.875rem 1.25rem 4rem;
    margin: auto 1.25rem;
    max-width: 480px;

    @include tablet{
        margin: auto;
    }

    &__headline{
        & h2{
            font-size: 3.5rem;
            line-height: 71px;
            text-align: center;
            margin-bottom: 1.875rem;
        }
    }
    &__body{
        &__headline{
            font-size: 1.25rem;
            line-height: 26px;
            color: $purple-light;
            margin-bottom: 1rem;
        }
        &__paragraph{
            margin-bottom: 2rem;
            opacity: .66;
            line-height: 20px;
        }
        &__list{
            &__item{
                display: flex;
                justify-content:flex-start;
                align-items: flex-start;
                gap: 1.25rem;
            }
            &__num{
                font-weight: 700;
            }
            &__text{
                opacity: .66;
            }
        }
    }
    &__button{
        position: absolute;
        left: 50%;
        bottom: -40px;
        transform: translateX(-50%);
        &:hover{
            cursor: pointer;
        }
    }
}

.game{
    position: relative;
    margin-top: 1rem;
    height: 300px;

    @include desktop{
        max-width: 1200px;
        margin: 1rem auto;
    }
    &__header{
        max-width: 350px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include tablet{
            max-width: 632px;
        }
        &__logo{
            width: 40px;

            @include tablet{
                width: 52px;
            }
        }
        &__button{
            background: $purple-dark;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 21px;
            border-radius: 20px;
            padding: 0.625rem 2rem;
            border: none;

            &:hover{
                cursor: pointer;
            }
        }
    }
    &__score{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        margin-top: 3.125rem;

        @include desktop{
            position: absolute;
            margin: auto;
            width: 1034px;
            justify-content: space-between;
            top: 312px;
            left: -207px;
        }
        &__player{
            position: relative;
            width: 142px;
            text-align: center;
            background-color: white;
            border: 3px solid #000000;
            box-shadow: 0px 10px 0px #000000;
            border-radius: 20px;
            padding: .625rem 1.875rem;

            @include tablet{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 272px;
                height: 100px;
                padding: 1rem 3rem;
                font-size: 1.25rem;

                &:last-child{
                    flex-direction: row-reverse;

                    @include desktop{
                        flex-direction: column;
                    }
                }
            }

            @include desktop{
                padding: 0;
                gap: 1.5rem;
                flex-direction: column;
                justify-content: center;
                width: 141px;
                height: 160px;
            }

            &__icon{
                width: 54px;
                position: absolute;
            }
            &__score{
                font-size: 2rem;
                line-height: 41px;
                font-weight: 700;

                @include tablet{
                    font-size: 3.5rem;
                }
            }
        }
    }
    &__main{
        width: 335px;
        margin: auto;
        position: relative;
        margin-top: 3.125rem;

        &:hover{
            cursor: pointer;
        }

        @include tablet{
            width: 632px;
        }
        &__bottom{
            position: absolute;
           z-index: -10;

           &__layer{
            @include tablet{
                display: none;
            }
            
           }
        }
        &__top{
            position: absolute;
            z-index: 10;
        }
        &__middle{
            width: 100%;
            display: flex;
            position: absolute;
            z-index: 1;
            &__row{
                display: flex;
                flex-direction: column-reverse;
                width: 14.3%;
                height: 310px;
                padding-bottom: 1.56rem;

                @include tablet{
                    height: 584px;
                    padding-bottom: 2.3rem;
                }
            }
        }
    }
    &__timer{
        margin-top: 21.5rem;
        border-radius: 60px 60px 0px 0px;

        @include tablet{
            margin-top: 37.5rem;
        }
        &__box{
            position: relative;
            background-repeat: no-repeat;
            background-size: auto 100%;
            z-index: 20;
            width: 196px;
            height: 150px;
            margin: auto;
            text-align: center;
            padding: 2.6rem 2rem 1rem;
            color: black;
            &__playerturn{
                font-weight: 700;
                line-height: 20px;
            }
            &__timeleft{
                font-size: 3.5rem;
                font-weight: 700;
                line-height: 71px;
               
            }
        }
    }
    &__shadow{
        position: relative;
        width: 100%;
        height: 50%;
        background-color: $purple-dark;
        z-index: -20;
        bottom: -215px;
        border-radius: 60px 60px 0px 0px;

        @include tablet{
            height: 25%;
            bottom: -495px;
        }
        @include desktop{
            bottom: -337px;
        }
    }
    &__pause{
        display: flex;
        position:absolute;
        width: 100%;
        height: 100vh;
        background-color:#00000070;
        top: -3.125rem;
        z-index: 100;

        &__box{
            margin: auto;
            background-color: $purple-dark;
            border: 3px solid #000000;
            box-shadow: 0px 10px 0px #000000;
            border-radius: 40px;
            padding: 1.875rem 1.25rem;

            @include tablet{
                padding: 3.125rem;
                width: 480px;
            }

            &__headline{
                & h2{
                    color: white;
                    text-align: center;
                    font-size: 3.5rem;
                    line-height: 71px;
                    margin-bottom: 1.875rem;

                }
            }
            &__btns{
                display: flex;
                gap: 1.875rem;
                flex-direction: column;

                &__btn{
                    background-color: white;
                    font-size: 1.5rem;
                    line-height: 31px;
                    font-weight: 700;                    
                    border: 3px solid #000000;
                    box-shadow: 0px 10px 0px #000000;
                    border-radius: 20px;
                    padding: 1.25rem 3rem;

                    &:last-child{
                        background-color: $pink;
                        color: white;
                    }

                    &:hover{
                        cursor: pointer;
                    }

                }
            }
        }
    }
    &__win{
        display: flex;
        position: absolute;
        bottom: -375px;
        left: 50%;
        transform: translateX(-50%);
        background: #FFFFFF;
        border: 3px solid #000000;
        box-shadow: 0px 10px 0px #000000;
        border-radius: 20px;
        z-index: 100;
        padding: 1rem 4.687rem;
        text-align: center;
        gap: 1.25rem;
        flex-direction: column;

        @include tablet{
            bottom: -660px;
        }
        @include desktop{
            bottom: -508px;
        }

        &__message{
            font-size: 3.5rem;
        }

        &__button{
            background-color: $purple-dark;
            color: white;
            text-transform: uppercase;
            border-radius: 20px;
            padding: .625rem 1.375rem;
            border: none;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

.player1-icon{
    left: -27px;
    bottom: 50%;
    transform: translateY(50%);

    @include desktop{
        top: -27px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
.player1-chip-mobile{
    position: relative;
    z-index: 1;
    width: 40px;
    height: 45px;
    margin-left: 3px;
    margin-bottom: 1px;
    @include tablet{
        display: none;
    }
}
.player1-chip-desktop{
    position: relative;
    z-index: 1;
    width: 70px;
    height: 75px;
    margin-left: 11px;
    margin-bottom: 14px;
    @include mobile{
        display: none;
    }
    @include tablet{
        display: block;
    }
}
.player2-icon{
    right: -27px;
    bottom: 50%;
    transform: translateY(50%);
    @include desktop{
        top: -27px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
.player2-chip-mobile{
    position: relative;
    z-index: 1;
    width: 40px;
    height: 45px;
    margin-left: 3px;
    margin-bottom: 1px; 
   @include tablet{
    display: none;
   }
}
.player2-chip-desktop{
    position: relative;
    z-index: 1;
    width: 70px;
    height: 75px;
    margin-left: 11px;
    margin-bottom: 14px;
    @include mobile{
        display: none;
    }
    @include tablet{
        display: block;
    }
}
.gametimer-yellow{
    color: black;
    background-image: url(assets/images/turn-background-yellow.svg);
}
.gametimer-pink{
    color: white;
    background-image: url(assets/images/turn-background-red.svg);   
}

.tablet{
    display: none;
    @include tablet{
        display: block;
    }
}

.hide{
    display: none;
}

.click{
    z-index: 100;
}

.no-click{
    pointer-events:none;
}

.pink{
    background-color: $pink;
}

.yellow{
    background-color: $yellow;
}

.chip-div{
    position:relative;
    height: fit-content;
}

.marked-chip{
    position: absolute;
    z-index: 10;
    bottom: 38px;
    left: 34px;
    width: 30px;
}

//Animation

@keyframes append-animate-desktop {
	from {
        margin-bottom: 550px;
	}
	to {
		margin-bottom: 0
	}
}

@keyframes append-animate-mobile {
	from {
        margin-bottom: 300px;
	}
	to {
		margin-bottom: 0
	}
}

/* animate new box */
.chip-div{
    animation: append-animate-mobile 1s linear;

    @include tablet{
        animation: append-animate-desktop 1s linear;
    }
	
}
